<h2>NO SE PUDO REGISTRAR</h2>
<h3 style="font-size: 15rem; text-align: center">❌</h3>
<div class="div__btns">
<button onclick="location.href='/register'" class="btn__back">Ir a registrarse</button>
</div>