<h2>PROFILE</h2>
<div class="div__profile">
<h3 class="profile__name" >Bienvenido/a: <span id="user-name">-</span></h3>
<h3 class="profile__name" >Rol: <span id="role">-</span></h3>
<form action="/users/logout" method="POST">
<button type="submit" class="btn__back" >LogOut</button>
</form>
</div>
<div class="products__list">
    <h3>Productos</h3>
    <ul id="product-list">
    </ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/segundapf.js"></script>