<h2>REAL TIME PRODUCTS - WEBSOCKETS</h2>

<form action="" id="form" type="submit" method="post">
    <input type="text" name="product" id="product" placeholder="Product" required>
    <input type="number" name="price" id="price" placeholder="Price" required>
    <button form="form" id="submit">CREATE</button>
</form>

<div class="article__list">
    <ul id="article__list_ul">
        
    </ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>