<h2>REGISTRARSE</h2>
<form action="/users/register" method="post" id="register">
    <input type="text" placeholder="Nombre" name="firstName" required>
    <input type="text" placeholder="Apellido" name="lastName" required>
    <input type="number" placeholder="Edad" name="age" required>
    <input type="email" placeholder="Email" name="email" required>
    <input type="password" placeholder="Contraseña" name="password" required>
    <button type="submit" form="register">Registrarse</button>
</form>