:root {
    --color-black: #222;
    --color-white: #E8E8E8;
}

html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: white;
}

h1 {
    text-align: center;
    font-size: 7rem;
    background-color: var(--color-black);
    color: white;
}

h2 {
    text-align: center;
    font-size: 4rem;
    background-color: var(--color-black);
    color: white;
}

.div__list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 50rem;
    overflow: auto;
    background-color: var(--color-black);
}

.div__list li {
    margin: 1rem;
    font-size: 2rem;
    font-weight: bold;
    background-color: white;
    padding: 1rem;
    color: var(--color-black);
    list-style:decimal;
    list-style-position: inside;
    text-align: center;
    border-radius: 5px;
}

.div__inputs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    background-color: var(--color-black);
    padding: 1rem;
}

#form input {
    height: 3rem;
    width: 20rem;
    margin: 1rem 1rem;
    outline: none;
}

#form input:focus {
    outline: 2px solid white;
}

#form button {
    height: 5rem;
    width: 15rem;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: var(--color-black);
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    margin: 1rem 0;
}

#form button:hover {
    color: black;
    background-color: white;
    transition: 0.2s;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}